body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
}

.logo-container {
    padding: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}


.section {
    display: flex;
    margin-bottom: 20px;
}
.section1 {
    width: auto;
    height: 150px;
    background-color: blue;
}
.section1 h2 {
    color: #00f700;
    text-align: center;
}
.section1 p {
    margin-left: 20px;
}
.section2 {
    width: 80%;
    height: 150px;
    background-color: green;
}
.section2 h1 {
    text-align: left;
    color: white;
}
.section2 p {
    padding-left: 20px;
}
.section3 {
    width: 60%;
    height: 150px;
    background-color: red;
}
.section3 h1 {
    text-align: center;
    color: white;
}
.section3 p {
    padding-left: 20px;
}
td {
    text-align: center;
}
.section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0ee0e7;
}

